body,
html {
  height: 100%;
  width: 100%;
}

.container {
  width: 400px;
  height: 400px;
  border: 1px solid #000;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 200px;
  height: 200px;
  position: absolute;
}

.square1 {
  background: #ff0000;
  top: 0px;
  left: 0px;
}

.square2 {
  background: #00ff00;
  top: 50px;
  left: 50px;
  z-index: -1;
}

.square3 {
  background: #0000ff;
  top: 100px;
  left: 100px;
}
